#topbar {
    width: 1200px;
    margin: 0 auto;
    height: 50px;
}

#body {

    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, freesans, sans-serif;
}

#logo {
    margin-top: 5px;
    width: 120px;
    float: left;
    margin-right: 8px;
    margin-left: 12px;
}

.topbar-section {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 105%;
}

#signin-image {
    width: 25px;
    margin: 13px 15px;
    float: left;
}

#signin-text {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 15px;
    padding-right: 60px;
}

#wigglyline {
    float: left;
    height: 53px;
}

#bell {
    height: 25px;
    margin: 12px 9px;
}

#bell-div {
    float: left;
}

.topbar-menu {
    font-weight: bold;
    font-size: 90%;
    padding: 13px 15px 0px;
    height: 40px;
}

#down-arrow {
    width: 21px;
    margin-left: 10px;
    position: relative;
}

#more-fix {
    position: relative;
    top: -4px;
}

#searchbox {
    background-color: #E4E4E4;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin: 10px 0px 5px 5px;
    float: left;
}

#mag {
    height: 27px;
    position: relative;
    top: 10px;
}

.clear {
    clear: both;
}

#menu-bar-container {
    background-color: #BD150D;
    width: 100%;
    height: 80px;
}

h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 55px;
    float: left;
}

#local-news {
    border: 1px #BD150D solid;
    float: right;
    width: 300px;
    padding: 20px 20px 0 10px;
}

#local-news a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: -10px;
}

#local-news a:hover {
    text-decoration: underline;
}

#local-news img {
    height: 35px;
}

#menu-bar-2-container {
    background-color: #423626;
    width: 100%;
}

#menu-bar-2 {
    width: 1100px;
    margin: 0 auto;
    height: 40px;
}

#menu-bar-2 a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px #BDA478 solid;
    font-size: 16px;
    position: relative;
    top: 11px;
}

#menu-bar-2 a:hover {
    text-decoration: underline;
}

.no-border {
    border: none !important;
}