@import "components/all";

body {
  background-color: $black-darker;
  color: $grey-lightest;
}

.main-container {
  background: $black-dark;
}

a {
  color: $orange-dark;
}

a:hover {
  color: $orange;
}

.card-header, .card-footer {
  background-color: $black-lighter;
}

.card {
  background-color: $black-lightest;
  box-shadow: .25px 1px 4px $black;
}

.form-label {
  color: $grey-lighter !important;
}

.modal-content {
  background-color: $black-lightest;
}

.modal-header {
  border-bottom: 1px solid $grey-darker;
}

.modal-footer {
  border-top: 1px solid $grey-darker;
}

a {
  color: $orange-dark;
}

a:hover {
  color: $orange-lighter;
}
