@import "components/all";

body {
  background-color: $black-darker;
}

.main-container {
  background: $black-dark;
}

.card-header, .card-footer {
  background-color: $grey-dark;
}

.card {
  background-color: $grey-darker;
  color: $grey-lighter;
}

.form-label {
  color: $grey-lighter !important;
}
