@import url("https://fonts.googleapis.com/css2?family=Roboto");

// Custom components
@import "components/all";

// "Global" vars to be used in various style sheets
:root {
  --font: Roboto, sans-serif;
  --textColor: #{$blue};
  --linkActiveColor: #{$green};
  --darkBackground: #{$black-light};

  --primary: #{$green};
  --primary-dark: #{$green-dark};

  // Colors
  --transparent: #{$transparent};
  --black-darkest: #{$black-darkest};
  --black-darker: #{$black-darker};
  --black-dark: #{$black-dark};
  --black: #{$black};
  --black-light: #{$black-light};
  --black-lighter: #{$black-lighter};
  --black-lightest: #{$black-lightest};

  --grey-darkest: #{$grey-darkest};
  --grey-darker: #{$grey-darker};
  --grey-dark: #{$grey-dark};
  --grey: #{$grey};
  --grey-light: #{$grey-light};
  --grey-lighter: #{$grey-lighter};
  --grey-lightest: #{$grey-lightest};
  --white: #{$white};

  --red-darkest: #{$red-darkest};
  --red-darker: #{$red-darker};
  --red-dark: #{$red-dark};
  --red: #{$red};
  --red-light: #{$red-light};
  --red-lighter: #{$red-lighter};
  --red-lightest: #{$red-lightest};

  --orange-darkest: #{$orange-darkest};
  --orange-darker: #{$orange-darker};
  --orange-dark: #{$orange-dark};
  --orange: #{$orange};
  --orange-light: #{$orange-light};
  --orange-lighter: #{$orange-lighter};
  --orange-lightest: #{$orange-lightest};

  --yellow-darkest: #{$yellow-darkest};
  --yellow-darker: #{$yellow-darker};
  --yellow-dark: #{$yellow-dark};
  --yellow: #{$yellow};
  --yellow-light: #{$yellow-light};
  --yellow-lighter: #{$yellow-lighter};
  --yellow-lightest: #{$yellow-lightest};

  --green-darkest: #{$green-darkest};
  --green-darker: #{$green-darker};
  --green-dark: #{$green-dark};
  --green: #{$green};
  --green-light: #{$green-light};
  --green-lighter: #{$green-lighter};
  --green-lightest: #{$green-lightest};

  --blue-darkest: #{$blue-darkest};
  --blue-darker: #{$blue-darker};
  --blue-dark: #{$blue-dark};
  --blue: #{$blue};
  --blue-light: #{$blue-light};
  --blue-lighter: #{$blue-lighter};
  --blue-lightest: #{$blue-lightest};
}

html {
  font-family: var(--font);
  background-color: $grey-light;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(42, 51, 58, 0.1);
}

.form div {
  @extend .mt-4;
}
label {
  display: inline-block;
  @extend .mb-2;
}
input {
  width: 100%;
  display: block;
  padding: .5rem;
  border: 1px solid $grey-light;
  border-radius: .25rem;
}
input:focus {
  outline-color: var(--primary);
}
.form {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  @extend .rounded;
  font-size: 1rem;
  line-height: 1;
}
button.primary {
  @extend .cursor-pointer;

  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--grey-lightest);
  padding: .5rem;
  text-align: center;
}
button.primary:hover {
  background-color: var(--primary-dark);
}
