@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

// Custom components
@import "components/all";

// "Global" vars to be used in various style sheets
:root {
  --font: Roboto, sans-serif;
  --textColor: #{$blue};
  --linkActiveColor: #{$green};
  --darkBackground: #{$black-light};
}

html {
  font-family: var(--font);
  background-color: $grey-light;
}
