# Custom-routing through index.php
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Exclude access to the following directories / files
RedirectMatch 403 /vendor
RedirectMatch 403 /composer.lock
RedirectMatch 403 /composer.json
RedirectMatch 403 /config
RedirectMatch 403 /docs
RedirectMatch 403 /public
RedirectMatch 403 /src
RedirectMatch 403 /.gitignore
RedirectMatch 403 /README.md