<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="/var/www/html/coverage"/>
            <text outputFile="/var/www/html/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Utils/Helpers/</directory>
            <directory suffix=".php">src/Utils/Database/</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>