##################################################################
# Add a ".env" file to this folder & fill out these values       #
##################################################################

DB_NAME="SAMPLE_DB_NAME"
DB_CONNECTION_URL="mysql:host=IP_HERE"
DB_USERNAME="SAMPLE_USERNAME"
DB_PASSWORD="SAMPLE_PASSWORD"