$transparent: transparent;

$black-darkest: #090b0d;
$black-darker: #0d0f11;
$black-dark: #22292f;
$black: #2a333a;
$black-light: #323d46;
$black-lighter: #3b4751;
$black-lightest: #43515d;

$grey-darkest: #3d4852;
$grey-darker: #606f7b;
$grey-dark: #8795a1;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$grey-lighter: #f1f5f8;
$grey-lightest: #f8fafc;
$white: #ffffff;

$red-darkest: #3b0d0c;
$red-darker: #621b18;
$red-dark: #cc1f1a;
$red: #e3342f;
$red-light: #ef5753;
$red-lighter: #f9acaa;
$red-lightest: #fcebea;

$orange-darkest: #462a16;
$orange-darker: #613b1f;
$orange-dark: #de751f;
$orange: #f6993f;
$orange-light: #faad63;
$orange-lighter: #fcd9b6;
$orange-lightest: #fff5eb;

$yellow-darkest: #453411;
$yellow-darker: #684f1d;
$yellow-dark: #f2d024;
$yellow: #ffed4a;
$yellow-light: #fff382;
$yellow-lighter: #fff9c2;
$yellow-lightest: #fcfbeb;

$green-darkest: #0f2f21;
$green-darker: #1a4731;
$green-dark: #1f9d55;
$green: #38c172;
$green-light: #51d88a;
$green-lighter: #a2f5bf;
$green-lightest: #e3fcec;

$blue-darkest: #12283a;
$blue-darker: #1c3d5a;
$blue-dark: #2779bd;
$blue: #3490dc;
$blue-light: #6cb2eb;
$blue-lighter: #bcdefa;
$blue-lightest: #eff8ff;